
 <!-- Navigation -->
 <section id="app">
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="col-lg-2 col-lg-offset-1">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
              <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="">
              <i class="ion-ios-pulse"></i>&nbsp; FlightAnalytics
            </a>
          </div>
        </div>

        <div class="col-lg-8">
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
              <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
              <li class="hidden">
                <a href="#page-top"></a>
              </li>
              <li>
                <!--In order to add new pages you must create routes in app.js. This is just a placeholder.-->
                <a class="page-scroll" ui-sref="state">Page 1</a>
              </li>            
              <li>
                <!--In order to add new pages you must create routes in app.js. This is just a placeholder.-->
                <a class="page-scroll" ui-sref="state">Page 2</a>
              </li>
              
                <li class="dropdown">
                  <a href="#" id="menu" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-bars"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="" ng-click="logout()" >Log out</a></li>
                  </ul>
                </li>
                        
              <li ng-show="!currentUser">
                <a role="button" class="" ui-sref="public.login">Login</a>
              </li>
              
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
     </div>
    </nav>
    <!-- End navigation-->
</section>

<section>
  

  <div class="container">
      <div class="row">
        <div class="col-md-2">
          <ul class="list-group">
            <li ng-repeat="q in queries" class="list-group-item"><a  ui-sref="app({queryId:q.id})" ui-sref-opts="">{{q.name}}</a> </li>
          </ul>
        </div>      
        <div class="col-md-10">
          <p ng-if="loading">Loading new data...</p>
          <p>Request took: {{requestTime}}</p>
          <h3>{{queries[queryId].name}}</h3>
          <p>{{queries[queryId].description}}</p>
          <nvd3 options="nvd3options" data="nvd3data"></nvd3>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
             
        <div class="col-md-12">
          <nvd3 options="pieOptions" data="pieData"></nvd3>
        </div>
      </div>
    </div>


    
<!--      <div class="container">
      <div class="row">
             
        <div class="col-md-12">
          <nvd3 options="lineOptions" data="lineData"></nvd3>
        </div>
      </div>
    </div>-->

</section>



